<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a routerLink="/Product"><button class="btn btn-success" >Add Product</button></a>
  <router-outlet></router-outlet>

  <div >
    <table>
      <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        @if(products$ | async; as products){
          @if(products.length > 0){
            @for (item of products; track $index) {
              <tr >
                {{item.id}}
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.quantity}}</td>
                <td>
                <button >Edit</button> 
                || <button (click)="onDelete(item.id)">Delete</button>
                </td>
              </tr>
            }
          }@else {
            <p>No Product Found!</p>
          }
        }
        <!-- <tr *ngFor="let item of data">
          <td>{{item.guid}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.quantity}}</td>
          <td>
            <a routerLink="/EditProduct">Edit</a> 
            || <a routerLink="/EditProduct">Delete</a>
          </td>
        </tr> -->
      </tbody>
      <tfoot>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>
  </div>
</body>
</html>